
<div class="row">
    <div class="col-12 text-end mb-4">
        <button
        routerLink="/users/addUser"
         mat-raised-button 
        style="margin-right: 20px;"
        color="primary">Add User</button>
    </div>
    <div class="col-md-4">
       <ul class="list-group mt-5"
       style="margin-left:30px;">
        <li 
        [routerLink]="['/users',user.userId]"
        [queryParams]="{userRole:user.userRole}"
        routerLink="active"
        class="list-group-item" *ngFor="let user of userArr">
            {{user.userName}}
            <small class="badge"
            [ngClass]="{
                'bg-success':user.isActive,
                'bg-danger':!user.isActive
                
            }"
            
            >{{user.isActive ? 'Active':"In-Active"}}

            </small>
            {{user.userId}}

        </li>

       </ul>
    </div>
    <div class="col-md-8">
       <router-outlet></router-outlet>
    </div>
</div>