<div class="row">
  <div class="col-12 text-end">
    <button
      routerLink="/products/addProduct"
      class="btn btn-primary"
      style="margin-right: 50px">
      Add Product
    </button>
  </div>

  <div class="col-md-4">
    <ul
      style="margin-left: 100px"
      class="list-group">

      <li
        *ngFor="let product of products"
        
        [routerLink]="['/products', product.pid]"
         routerLink="active"

        [queryParams]="{cr:product.canReturn}"
        class="list-group-item">

        {{ product.pname }}

       <small
        class="badge"
         [ngClass]="{
                  'bg-primary': product.pstatus === 'Dispatched',
                  'bg-success': product.pstatus === 'Delivered',
                  'bg-warning': product.pstatus === 'In-progress'
                 }">
             {{ product.pstatus }}
        </small>

      </li>

    </ul>
  </div>

  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>